@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.woff?qg1pf3') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bicycle:before {
  content: "\e904";
}
.icon-hiking:before {
  content: "\e905";
}
.icon-family:before {
  content: "\e901";
}
.icon-parents:before {
  content: "\e910";
}
.icon-refresh-page-option:before {
  content: "\e90d";
}
.icon-punctuation-mark2:before {
  content: "\e911";
}
.icon-open-book1:before {
  content: "\e908";
}
.icon-inference:before {
  content: "\e909";
}
.icon-climate:before {
  content: "\e90a";
}
.icon-monitor:before {
  content: "\e90e";
}
.icon-travel-map:before {
  content: "\e906";
}
.icon-exhibition:before {
  content: "\e907";
}
.icon-landscape:before {
  content: "\e90b";
}
.icon-clarinet1:before {
  content: "\e90c";
}
.icon-analytics:before {
  content: "\e900";
}
.icon-classification:before {
  content: "\e902";
}
.icon-deep-learning:before {
  content: "\e903";
}
