body {
    font-family: myFirstFont;
    font-weight: 400;
    color: #333;
  }

  @font-face {
    font-family: myFirstFont;
    src: url("font/Budge-Regular.woff");
  }
  :root {
    --carnation-pink: #ff99c8ff;
    --lemon-chiffon: #fcf6bdff;
    --nyanza: #d0f4deff;
    --uranian-blue: #a9def9ff;
    --mauve: #e4c1f9ff;
  }

  .section {
    background-color: #eccce9;
    height: 100vh;
    z-index: 1;
  }

  .social-icons:hover {
    color: var(--uranian-blue);
    border-color: var(--lemon-chiffon);
    background-color: var(--lemon-chiffon);
  }

  .skills-special {
    box-shadow: #44090D 1px 1px,
                #44090D 0px 0px,
                 #44090D 1px 1px,
                #44090D 2px 2px,
                #44090D 3px 3px,
                #44090D 4px 4px,
                #44090D 5px 5px,
                #44090D 6px 6px,
                #44090D 7px 7px,
                #44090D 8px 8px,
                #44090D 9px 9px;
    border-radius: 4px;
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    background-color: white;
    color: black;
  }

  .funky {
    z-index: 3;
    font-family: myFirstFont;
    color: #fff;
    text-shadow: gray -1px 1px,
                #44090D 1px 1px,
                 #44090D 0px 0px,
                 #44090D 1px 1px,
                #44090D 2px 2px,
                #44090D 3px 3px,
                #44090D 4px 4px,
                #44090D 5px 5px,
                #44090D 6px 6px,
                #44090D 7px 7px,
                #44090D 8px 8px,
                #44090D 9px 9px;
  }

  .funky-main {
    z-index: 3;
    font-size: 6rem;
    position: relative;
  }

  .funky-sub { 
    z-index: 3;
    font-size: 10rem;
    line-height: 0.3;
    position: relative;
  }

  @media only screen and (max-width: 811px) {
  .funky-sub {
    font-size: 6rem;
  }
}

  @media only screen and (max-width: 811px) {
  .funky-main,
  .funky-sub {
    font-size: 4rem;
  }
}

  .title {
    z-index: 3;
  }

  .subtitle {
    font-size: 10rem;
  }

  .title-rotate {
    transform: rotate(-10deg);
  }

  .title.keyword {
    color: #fcbf49;
    text-shadow: gray -1px 1px,
                #44090D 1px 1px,
                 #44090D 0px 0px,
                 #44090D 1px 1px,
                #44090D 2px 2px,
                #44090D 3px 3px,
                #44090D 4px 4px,
                #44090D 5px 5px,
                #44090D 6px 6px,
                #44090D 7px 7px,
                #44090D 8px 8px,
                #44090D 9px 9px;
  }

.rain {
  position: absolute;
  animation: fall 4s linear 1;
  animation-fill-mode: forwards;
  z-index: 2;
}

/* FROM HERE https://codepen.io/Micha-l-Crofte/pen/rNbpEXZ */
@keyframes fall {
  0% {
      top: 0;
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
  80% {
      opacity: 1
  }
  100% {
      top: 90vh;
      transform: rotate(720deg) scale(1);
      opacity: 0;
      display: none;
  }
}

.is-ribbon {
  position: absolute;
  right: var(--right, 10px);
  top: var(--top, -3px);
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}

.indhold {
    color: white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  background: var(--color, #b597f6) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  width: var(--width, 32px);
  min-height: var(--height, 36px);
  transition: clip-path 1s, padding 1s, background 1s;
}