:root {
    --main-color: #0d1117;
    --main-text-color: white;
    --text-shadow: 555;
    --second-text-color: #F0F0F4;
    --navbar-color-start: hsla(328, 75%, 45%, 1);
    --navbar-color-end:  hsla(269, 85%, 41%, 1);
}
.section {
    height: 100vh;
}


.title {
    font-size: 6rem;
    color: var(--main-text-color)
}

body {
    background-color: var(--main-color);
    color: var(--main-text-color);
    font-family: "DM Sans", sans-serif
}

.focus
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}